*,
*::before,
*::after {
  box-sizing: border-box;
}

.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.center {
  text-align: center;
}
h6 {
  font-size: 1.4rem;
}
.mr {
  margin-right: 2rem;
}
.mt {
  margin-top: 2.5rem;
}
.mx {
  margin: 0 1rem;
}

.active {
  background-color: black;
  outline: none;

  color: white;
}
